@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 0.125rem;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #cdcdcd;
  border-radius: 0.625rem;
}

.dark .custom-scrollbar::-webkit-scrollbar-track {
  background: #838383;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  border-radius: 0.625rem;
  border: 0.125rem solid transparent;
  background-clip: content-box;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #282828;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
